.login-container {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(41, 41, 41) 50%, rgb(255, 255, 255) 50%);
}

.login-banner {
    width: 50%;
    height: 60vh;
    display: flex;
    border-radius: 30px;
    box-shadow: 2px 5px 40px rgb(20, 20, 20);
}

.login-banner div {
    width: 50%;
    height: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 45%;
    height: auto;
}