.profile-container {
    display: flex;
}

.photo-container {
    width: 30%;
    height: 100%;
    text-align: center;
}

.photo-container button {
    width: 150px;
    height: 35px;
    color: white;
    border-radius: 0px;
    background-color: rgb(41, 41, 41);
    margin-top: 20px;
    font-size: 1.4rem;
}

.photo-container button:hover {
    width: 160px;
}

.profile-photo {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-top: 50px;
    border: solid 5px rgb(41, 41, 41);
    border-radius: 100%;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-form {
    width: 70%;
    height: 100%;
}

.picture-form {
    margin-top: 30px;
}

.picture-form input {
    padding: 10px;
    box-shadow: 2px 2px 2px rgb(209, 209, 209);
}

.picture-form input:focus {
    border: 1px solid rgb(41, 41, 41);
}

.close-picture-form-btn {
    width: 50px !important;
}

.close-picture-form-btn:hover {
    background-color: rgb(80, 80, 80);
}

.error-message {
    background-color: rgb(215, 84, 84, 0.3);
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.4rem;
    padding: 5px;
}

.loading-change-photo {
    width: 45px;
    height: auto;
    animation: loading infinite linear 350ms;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*profile form*/
.profile-form h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bold !important;
}

.profile-form div {
    display: flex;
    margin-top: 50px;
}

.profile-form label {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(150, 150, 150);
    margin-right: 30px;
}

.profile-form input {
    padding: 10px;
    background-color: rgb(225, 225, 225);
    font-size: 1.8rem;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(96, 96, 96);
}

.update-profile {
    margin-top: 50px !important;
    width: 150px;
    height: 35px;
    color: white;
    border-radius: 0px;
    background-color: rgb(41, 41, 41);
    margin-top: 20px;
    font-size: 1.4rem;
}

.update-profile:hover {
    width: 160px;
}

.user-name {
    margin-top: 10px;
    font-weight: 400;
}

.profile-loading {
    width: 25px;
    height: auto;
    margin-top: 30px;
    animation: loading infinite linear 350ms;
}

.profile-form h4 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: gray;
}

.profile-form p {
    color: rgb(170, 170, 170);
    font-size: 1.2rem;
}