.create-user-container {

    & form {
        width: 100%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & label {
        width: 100%;
        text-align: center;
    }

    & input {
        width: 50%;
        margin: 0 auto;
        padding: 10px;
        background-color: rgb(225, 225, 225);
        font-size: 1.8rem;
        font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: rgb(96, 96, 96);
        margin-bottom: 15px;
        animation: fadeInInput 400ms;
    }

    & input:focus {
        border: solid 1px rgb(40, 40, 40);
    }

    & button {
        width: 50%;
        height: 35px;
        padding: 10px;
        margin-top: 10px;
        color: white;
        background-color: rgb(40, 40, 40);
        border-radius: 0px;
        font-size: 1.6rem;
    }

    & .clear-button {
        background: none;
        color: rgb(40, 40, 40);
        border: solid 1px rgb(40, 40, 40);
    }

    & button:hover {
        width: 51%;
    }
}

.loading-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}